**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/*.gz
**/*.zip
**/*.tar
**/*.tgz
**/*.rar
**/*.7z
**/*.jar
**/*.war
**/*.ear
**/*.class
**/*.db
*.sqlite
*.sqlite3
*.db-journal
*.sql
*.env
node_modules
.vscode
.idea
.git
dist
build
